<!doctype html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Cirkulationspump 1 {%endblock%}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/"> Home automation monitor and control! </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/bokeh_bild">Trends</a></li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}

{%block content %}

<script type=text/javascript src="{{ url_for('bower.static',filename='jquery/dist//jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('bower.static',filename='snap.svg/dist//snap.svg.js') }}"></script>
<script type=text/javascript src="{{ url_for('static',filename='svg.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
$(document).ready(function(){
    VS1_CP1_O = new pump(0, '#CP1');
    VS1_GT1_O = new sensor('#VS1_GT1', 'C');
    VS1_GT2_O = new sensor('#VS1_GT2', 'C');
    VS1_GT3_O = new sensor('#VS1_GT3', 'C');
    setInterval(function(){
      VS1_CP1_O.checkState();
      VS1_GT1_O.updateValue();
      VS1_GT2_O.updateValue();
      VS1_GT3_O.updateValue();
      $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict_new/' + {{dVS1_GT1|tojson|safe}}, {}, function(data) {
          $("#dVS1_GT1_PV").text(data.result.{{dVS1_GT1|safe}}.PV);
          VS1_GT1 = data.result.{{dVS1_GT1|safe}}.PV;
          VS1_GT1_O.value = VS1_GT1;
          }
      )
      $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict_new/' + {{dVS1_GT2|tojson|safe}}, {}, function(data) {
          $("#dVS1_GT2_PV").text(data.result.{{dVS1_GT2|safe}}.PV);
          VS1_GT2 = data.result.{{dVS1_GT2|safe}}.PV;
          VS1_GT2_O.value = VS1_GT2;
          }
      )
      $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict_new/' + {{dThreeDayTemp|tojson|safe}}, {}, function(data) {
          $("#dThreeDayTemp_PV").text(data.result.{{dThreeDayTemp|safe}}.ThreeDayTemp);
          threeDayTemp = data.result.{{dThreeDayTemp|safe}}.ThreeDayTemp;
          }
      )
      $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict_new/' + {{dVS1_GT3|tojson|safe}}, {}, function(data) {
          $("#dVS1_GT3_PV").text(data.result.{{dVS1_GT3|safe}}.PV);
          VS1_GT3 = data.result.{{dVS1_GT3|safe}}.PV;
          VS1_GT3_O.value = VS1_GT3;
          }
      )
  }, 3000);
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    setInterval(function(){
      $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict_new/' + {{dVS1_CP1|tojson|safe}}, {}, function(data) {
          var Value = data.result.{{dVS1_CP1|safe}}.Out;
          if (Value == 1) {
            $("#dVS1_CP1_state").text("True");
            $("#dVS1_CP1_state").css("color","Green");
            VS1_CP1_O.ind = true;
          }
          else if (Value == 0) {
            $("#dVS1_CP1_state").text("False");
            $("#dVS1_CP1_state").css("color","Black");
            VS1_CP1_O.ind = false;
          }
      })
  }, 3000);
});

$(document).ready(function(){
    $("#form1").toggle();
    $("#btn1").click(function(){
        $("#form1").toggle();
    });
});
</script>
<ul>
    <li>
        <h1>Overview</h1>
    </li>
    <li>
        GT1:<p id="dVS1_GT1_PV">?</p>
    </li>
    <li>
        GT2:<p id="dVS1_GT2_PV">?</p>
    </li>
    <li>
        GT3:<p id="dVS1_GT3_PV">?</p>
    </li>
    <li>
        Threeday temperature <p id="dThreeDayTemp_PV"> ? </p>
        <button id="btn1"> Set! </button>
        <form action="" method="post" name="ThreeDayTemp" id="form1">
            {{ form.hidden_tag() }}
            <p>
                Please enter temp <br>
                {{ form.ThreeDayTemp }} <br>
            </p>
            <p> <input type="submit" value="Submit!"></p>
        </form>
    </li>
    <li>
        P1 output:<p id="dVS1_CP1_state">?</p>
    </li>
</ul>
    


{%endblock%}
