<!doctype html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Cirkulationspump 1 {%endblock%}


{%block content %}

<script type=text/javascript src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"> </script>
<script type=text/javascript src="{{ url_for('bower.static', filename='snap.svg/dist/snap.svg.js') }}"> </script>
<script type=text/javascript src="{{ url_for('static', filename='svg.js') }}"> </script>
<script>
</script>
<script>
$(document).ready(function(){
    setInterval(function(){
        CP1.checkState(ind);
    }, 3000);
});
//ind = true;
var CP1 = new pump(1,1,1,1);
function test() {
    var test = 'hej2';
    $("#hej").text(test);
};
//CP1.pumpOn();

</script>
<button onclick="test()">#</button><p>
<button onclick="CP1.pumpOn()">hej</button><p>
<button onclick="CP1.pumpOff()">hej2</button><p>
<div id="hej">hej</div>
{%endblock%}
