<!doctype html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Hejsan svejsan {%endblock%}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/"> Hej </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"></a>Home</li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}

{%block content %}

<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}">
</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
//Autoupdate function
$(document).ready(function(){
    setInterval(function(){
        $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict', {}, function(data) {
                var temp = data.result.{{ dSensor|safe }};
                var SP = data.result.{{dSP|safe}};
                var opens = data.result.{{ dObject|safe}}.b_{{ dValve|safe }}_OPEN_DO.Value;
                var closes = data.result.{{ dObject|safe}}.b_{{ dValve|safe }}_CLOSE_DO.Value;
                if (opens == 0 && closes == 0) {
                    $("#State").text("No movement");
                    $("#State").css("color","black");
                } else if (opens == 1 && closes == 0) {
                    $("#State").text("Opens");
                    $("#State").css("color","Green");
                    $("#State").css("background-color", "Black");
                } else if (opens == 0 && closes == 1) {
                    $("#State").text("Closes");
                    $("#State").css("color","Green");
                    $("#State").css("background-color", "Black");
                }

                $("#Sensor").text(temp);
                $("#Setpoint").text(SP);
        })
    }, 3000);
});
</script>
<ul>
    <li>
        Time open : {{TimeOpen}}
    </li>
    <li>
        Time close: {{TimeClose}}
    </li>
    <li>
        State: <p id="State"> ? </p>
    </li>
    <li>
        Temp GT1: <p id="Sensor"> ? </p>
    </li>
    <li> 
        Setpoint: <p id="Setpoint"> ? </p>
    </li>
</ul>


{{ wtf.quick_form(OpenCloseValvesForm)}}

{%endblock%}