<!doctype html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Hejsan svejsan {%endblock%}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only"> Toggle navigation </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/"> Hej </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/"></a>Home</li>
            </ul>
        </div>
    </div>
</div>
{%endblock%}

{%block content %}

<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}">
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script>
$(document).ready(function(){
  setInterval(function(){
    $.getJSON($SCRIPT_ROOT + '/_JsonSharedDict', {}, function(data) {
        switch (data.result.IOVariables.b_SV_OPEN_DO.Value) {
            case 0:
                $("#OPEN_DO").text("Stänger");
                break;
            case 1:
                $("#OPEN_DO").text("Öppnar");
                break;
            case default:
                $("#OPEN_DO").text("Något fel!");
                break;
        }
      $("#CLOSE_DO").text(data.result.IOVariables.b_SV_CLOSE_DO.Value)
      })
  }, 3000);
});
</script>
<ul>
    <li>
        Time open: {{TimeOpen}}
    </li>
    <li>
        Time close: {{TimeClose}}
    </li>
    <li>
        Opens: <p id="OPEN_DO"> ? </p>
    </li>
    <li>
        Close: <p id="CLOSE_DO"> ? </p>
    </li>
</ul>


{{ wtf.quick_form(OpenCloseValvesForm)}}

{%endblock%}